<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}"> 
    <link rel="stylesheet" th:href="@{/css/login.css}"> 

</head>
<body>
    <div class="form-container">
        <h2>Iniciar Sesión</h2>
        
        <div th:if="${error}" class="alert-error">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/iniciar-sesion}" method="post">
            <input type="text" name="correo" placeholder="Usuario o Correo" required>
            <input type="password" name="contrasena" placeholder="Contraseña" required>
            
            <button type="submit">Iniciar Sesión</button>
        </form>
        
        <p class="mt-15">¿No tienes una cuenta? 
            <a th:href="@{/registro}" class="link-register">Regístrate</a>
        </p>
    </div>
</body>
</html>