@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


/* Paleta de Colores */
:root {
    --background-color: #f5f5f5;
    --primary-color: #3498db;
    --text-title-color: #2c3e50;
    --text-color: #32363b;
    --icon-colo: #32363b;
    --icon-menu-color: #707780;
    --menu-color: #707780;

    --text-selected-color: #355cc0;
    --background-selected: #ebf0ff;
    --background-hover: #f7f9fa;

    --border-color: #e6e9ed;

    /* Extras opcionales */
    --shadow-color: rgba(0, 0, 0, 0.1); /* Sombras */
    --radius: 8px;
}

/* Global CSS Variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    /*color: var(--text-color);
    background-color: var(--background-color);
    scroll-behavior: smooth;*/
}

/* Body */
body {
    width: 100%;
    height: 100vh;
}

/* Headers */
header {
    border: 2px solid red;
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    background-color: var(--background-color);
    top: 0;
    left: 0;
}

.left, .right {
    border: 2px solid green;
}